:root {
  --primary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --secondary-text-color: #757575;
  --grey-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --border-color: #ececec;
  --second-border-color: #eeeeee;
  --background-second-color: rgba(255, 255, 255, 0.1);
  --sec-border-color: #afb1b8;
  --hero-background-color: rgba(47, 48, 58, 0.4);
}

/* Колір основного тексту #212121 */
/* Вторинний колір #757575*/
/* Чорний #000000 */
/* Акцент 1 #2196F3 */
/* Білий #FFFFFF */
/* Колір фону #FFFFFF */
/* Вторинний колір фону #F5F5F5 */
/* Третій колір фону #F5F4FA */
/* Сірий колір rgba(255, 255, 255, 0.6) */

body {
  color: #212121;
  background-color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* Обнулення */
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

p {
  margin: 0px;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Header */
.page-header {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway;
  color: var(--black-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}
.logo .accent {
  font-family: Raleway;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.logo:hover {
  color: var(--accent-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-bottom: 94px;
}

/* Site,contact-nav */
.site-nav {
  display: flex;
}

.site-nav .site-item:not(:last-child) {
  margin-right: 49px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-nav .contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav .cont-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.contact-nav .cont-link:hover,
.contact-nav .cont-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* Features */

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-item:nth-child(4) {
  margin-right: 0px;
}

.feature-list .title {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}
.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
/* Work */

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

/* .work-item:nth-child(3) {
  margin-right: 0;
} */

/* Our team */

.section-team {
  background-color: var(--background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: 0px 4px 4px hex;
}

/* .team-item:nth-child(4) {
  margin-right: 0;
} */

.team-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

.button-type {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item {
  margin-right: 8px;
}

.btn-item:nth-child(5) {
  margin-right: 0;
}

.button-type .button.current {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

.button-type .button:hover,
.button-type .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--background-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
}

/* Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.potr-border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--second-border-color);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.title-port {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-port {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* linki */
.team-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
  margin-right: 32px;
  margin-left: 32px;
}

.team-img {
  flex-basis: calc((100% - 30px) / 4);
}
.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--sec-border-color);
  border-radius: 50%;
}

.icon-team {
  fill: currentColor;
}
.icon-svg:hover,
.icon-svg:focus {
  color: var(--primary-text-color);
  background-color: #2196f3;
  border-radius: 50%;
}
/* Clients */

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  flex-basis: calc((100% - 150px) / 6);
}

.client-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--sec-border-color);
  border-radius: 5px;
  color: var(--sec-border-color);
}

.client-icon {
  fill: currentColor;
}

.client-svg:hover,
.client-svg:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-item {
  margin-bottom: 9px;
}

.logo-footer {
  display: block;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}

.accent-footer {
  font-family: Raleway;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.address-map {
  font-family: Roboto;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}
.address-cont {
  color: #ffffff99;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.address-cont:hover,
.address-cont:focus {
  color: var(--accent-color);
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-position {
  margin-right: 70px;
}

.join-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.join-title {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.join-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-second-color);
  color: var(--primary-text-color);
}
.join-icon {
  fill: currentColor;
}
.join-svg:hover,
.join-svg:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}
